:root {
    --sea: #04009A;
    --sky: #77ACF1;
    --turqoiuse: #3EDBF0;
    --ice: #C0FEFC;
}

body {
    margin: 0px;
    display: flexbox;
    position: relative;
    background-color: var(--turqoiuse);
    color: var(--sea);
    font-family: monospace;
}

h1 {
    background-color: var(--sea);
    color: var(--ice);
    padding-left: 1rem;
}

nav {
    background-color: var(--sky);
    color: inherit var(--ice);
    position: relative;
    text-decoration: none;
    text-decoration-style: none;
}

#generator {
    background-color: var(--sea);
    color: var(--ice);
    display: inline-block;
    text-decoration: none;
    font-family: monospace;
}

