body {
    background-color: #FF7600;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.wave {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
    padding-left: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
    transition: all 1s;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(154% + 1.3px);
    height: 386px;
    transition: all 1s;
}

.wave .shape-fill {
    fill: #000000;
    transition: all 1s;
}


#george {
    font-family: 'Inter', sans-serif;
    font-size: 7rem;
    padding-top: 10rem;
    transition: all 1s;
    padding-left: 2rem;
}

#about {
    display: none;
    transition: all 1s;
    position: absolute;
    right: 10%;
    z-index: 1;
    top: 6rem;
}

#projects {
    display: none;
    transition: all 1s;
    position: absolute;
    right: 10%;
    z-index: 1;
    top: 10rem;
}

a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

a:hover {
    color: #FF7600;
}

h2 {
    color: white;
    font-size: 6rem;
    padding-left: 7rem;
    padding-top: 0;
    margin-top: 1rem;
    position: relative;
}

ul {
    list-style-type: square;
    width: 85vw;
    margin-left: 5rem;
}

ul > a {
    font-size: 2rem;
    padding: 1rem;
}

ul > a:hover {
    color: black;
    transition: all 1s;
}

li {
    color: black;
    font-size: 1.5rem;
    padding: 0 3rem;
}

.topwave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) scaleY(1.35);
}

.topwave svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 145px;
}

.topwave .shape-fill {
    fill: #000000;
}

footer {
    background-color: black;
    z-index: 1;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100vw;
}

footer > p, a {
    color: white;
    font-size: 1rem;
    padding-left: 2rem;
}

#homebtn {
    font-size: 2.5rem;
    position: absolute;
    right: 10px;
    bottom: 10px;
}