body {
    background-color: #FF7600;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* add some kind of on hover effect that moves this up */
    /* height: 80%; */
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(154% + 1.3px);
    height: 386px;
}

.wave .shape-fill {
    fill: #000000;
}

#george {
    font-family: 'Inter', sans-serif;
    font-size: 7rem;
    padding-top: 10rem;
}